{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redefinir senha" %}{% endblock %}

{% block content %}

    <h1>{% trans "Redefinir senha" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Esqueceu a senha? Insira seu email abaixo e será enviado um link para alteração de senha." %}</p>

    <form method="POST" action="" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary "  type="submit" value="{% trans 'Enviar' %}" />
    </form>

    <p>{% blocktrans %}Entre em contato se você tiver algum problema para redefinir sua senha.{% endblocktrans %}</p>
{% endblock %}