{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Destination Categories{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Destination Categories</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'financial:destcat_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <caption>Destination Categories</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Details</th>
        <th scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.details }}</td>
        <td>
          <a class="px-2" href="{{ object.destcat_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="px-2" href="{{ object.destcat_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock dashboard %}