{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <form class="form-horizontal" action="" method="POST" enctype="">
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-lg-6">
              <label for="id_name" class="col-form-label">Name</label>
              {{ form.name }}
            </div>
            <div class="col-6 col-lg-4">
              <label for="id_document" class="col-form-label">Document</label>
              {{ form.document }}
            </div>
            <div class="col-6 col-lg-2">
              <legend class="col-form-label">Active</legend>
              <div class="form-check ms-1">
                <input class="form-check-input ps-0" type="checkbox" checked="" name="active" id="id_active">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <label for="id_cell_main" class="col-form-label">Phone</label>
              {{ form.cell_main }}
            </div>
            <div class="col-6 col-lg-3">
              <label for="id_cell_contact" class="col-form-label">Phone2</label>
              {{ form.cell_contact }}
            </div>
            <div class="col-12 col-lg-6">
              <label for="id_email" class="col-form-label">Email</label>
              {{ form.email }}
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-lg-6">
                <label for="id_street" class="col-form-label">Street</label>
                {{ form.street }}
              </div>
              <div class="col-4 col-lg-6">
                <label for="id_number" class="col-form-label">Number</label>
                {{ form.number }}
              </div>
              <div class="col-4 col-lg-4">
                <label for="id_zipcode" class="col-form-label">Zipcode</label>
                {{ form.zipcode }}
              </div>
              <div class="col-12 col-lg-6">
                <label for="id_city" class="col-form-label">City</label>
                {{ form.city }}
              </div>
              <div class="col-3 col-lg-2">
                <label for="id_state" class="col-form-label">State</label>
                <select class="form-select" aria-label="Default select example" name="state" id="id_state">
                  {% for item in form.state %}
                  <option>{{ item }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-sm" value="Update">Submit</button>
                <a class="btn btn-danger btn-sm" href="{% url 'register:register_list' %}">Cancel</a>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}