{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Registers{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Registers</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'register:register_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <caption>Registers</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Cel</th>
        <th scope="col">Email</th>
        <th scope="col">Document</th>
        <th align='center' scope="col">Active</th>
        <th align='center' scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td scope="row">{{ object.id }}</td>
        <td>
          <a href="{{ object.register_gau_detail }}">{{ object.name }}</a>
        </td>
        <td>{{ object.cell_main }}</td>
        <td>{{ object.email }}</td>
        <td>{{ object.document }}</td>
        {% if object.active %}
        <td><i class="fa fa-check"></i></td>
        {% else %}
        <td><i class="fa fa-close"></i></td>
        {% endif %}
        <td>
          <a class="px-2" href="{{ object.register_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="px-2" href="{{ object.register_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock dashboard %}