{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Registers{% endblock %}

{% block dashboard %}


<main id="main" class="main">
  <div class="card">
    <div class="row card-body align-items-center">
      <div class="col-6">
        <h5 class="card-title">Register</h5>
      </div>
      <div class="col-6">
        <a class="d-flex float-end" href="{% url 'register:register_create' %}">
          <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
        </a>
      </div>

      <table class="table table-sm" id="id_table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Cell</th>
            <th scope="col">Email</th>
            <th scope="col">Document</th>
            <th scope="col">Edit/Del</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td scope="row">{{ object.id}}</td>
            <td>
              <a href="{{ object.register_gau_detail }}">{{ object.name }}</a>
            </td>
            <td>{{ object.cell_main}}</td>
            <td>{{ object.email}}</td>
            <td>{{ object.document}}</td>
            <td>
              <a class="px-2" href="{{ object.register_gau_edit }}">
                <i class="fa fa-edit"></i>
              </a>
              <a class="px-2" href="{{ object.register_gau_delete }}" style="padding-left: 7px">
                <i class="fa fa-close no"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</main>


{% block script %}
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- DataTable JS -->
<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#id_table').DataTable();
  });
</script>
{% endblock script %}

{% endblock dashboard %}