{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Redefinir senha" %}{% endblock %}

{% block content %}
    <h1>{% trans "Redefinir senha" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Redefinir senha" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Esqueceu a senha?" %}</a>
    </form>
{% endblock %}