{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redefinir senha" %}{% endblock %}

{% block content %}
    <h1>{% trans "Redefinir senha" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Enviamos um link ao seu email para verificação. Clique no link dentro deste email para confirmação. Por favor
        contacte-nos se não o receber dentro de alguns minutos.{% endblocktrans %}</p>
{% endblock %}