<!-- person_list.html -->
{% extends "base.html" %}

{% block content %}
<h1>
  Orders
  <a class="btn btn-primary" href="{% url 'order:order_create' %}">Add</a>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Register</th>
      <th>Operation</th>
      <th>Details</th>
      <th>Total</th>
      <th>Updated</th>
      <th>Created in</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.order_gau_detail }}">{{ object.id }}</a>
      </td>
      <td>{{ object.date}}</td>
      <td>{{ object.register}}</td>
      <td>{{ object.operation}}</td>
      <td>{{ object.details}}</td>
      <td>{{ object.total}}</td>
      <td>{{ object.updated}}</td>
      <td>{{ object.createdin}}</td>
      <td>
        <a href="{{ object.order_gau_edit }}">
          <i class="fa fa-edit"></i>
        </a>
        <a href="{{ object.order_gau_delete }}" style="padding-left: 7px">
          <i class="fa fa-close no"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %} {% include "includes/pagination.html" %} {% endcomment %}
{% endblock content %}