{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Releases{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Releases</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'financial:release_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <caption>Releases</caption>
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Valueorder</th>
        <th scope="col">Installments</th>
        <th scope="col">Totalorder</th>
        <th scope="col">Details</th>
        <th align='center' scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td scope="row">{{ object.order }}</td>
        <td> {{ object.date }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.valueorder }}</td>
        <td>{{ object.installments }}</td>
        <td>{{ object.totalorder }}</td>
        <td>{{ object.details }}</td>
        <td>
          <a class="px-2" href="{{ object.release_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="px-2" href="{{ object.release_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock dashboard %}