{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Product</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'product:product_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Value Buy</th>
        <th scope="col">Value Sell</th>
        <th scope="col">Stock</th>
        <th scope="col">Available</th>
        <th scope="col">Active</th>
        <th scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>
          <a href="{{ object.product_gau_detail }}">{{ object.name }}</a>
        </td>
        <td>{{ object.category}}</td>
        <td>{{ object.description}}</td>
        <td align='center'>{{ object.valueBuy}}</td>
        <td align='center'>{{ object.valueSell}}</td>
        <td align='center'>{{ object.stock}}</td>
        <td align='center'>{{ object.available}}</td>
        {% if object.active %}
        <td align='center'><i class="fa fa-check"></i></td>
        {% else %}
        <td align='center'><i class="fa fa-close"></i></td>
        {% endif %}
        <td align='center'>
          <a href="{{ object.product_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a href="{{ object.product_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>
{% comment %} {% include "includes/pagination.html" %} {% endcomment %}
{% endblock %}


{% block script %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- DataTable JS -->
<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#id_table').DataTable();
  });
</script>

{% endblock script %}