<!-- person_list.html -->
{% extends "base.html" %}

{% block content %}
<h1>
  Payments
  <a class="btn btn-primary" href="{% url 'financial:payment_create' %}">Add</a>
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Release</th>
      <th>Account</th>
      <th>Date</th>
      <th>Destination</th>
      <th>Description</th>
      <th>Value</th>
      <th>Details</th>
      <th>Forpayment</th>
      <th>Updated</th>
      <th>Created in</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.payment_gau_detail }}">{{ object.release }}</a>
      </td>
      <td>{{ object.account}}</td>
      <td>{{ object.date}}</td>
      <td>{{ object.destination}}</td>
      <td>{{ object.description}}</td>
      <td>{{ object.value}}</td>
      <td>{{ object.details}}</td>
      <td>{{ object.formpayment}}</td>
      <td>{{ object.updated}}</td>
      <td>{{ object.createdin}}</td>
      <td>
        <a href="{{ object.payment_gau_edit }}">
          <i class="fa fa-edit"></i>
        </a>
        <a href="{{ object.payment_gau_delete }}" style="padding-left: 7px">
          <i class="fa fa-close no"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %} {% include "includes/pagination.html" %} {% endcomment %}
{% endblock content %}