{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Payments{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Payments</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'financial:payment_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <caption>Payments</caption>
    <thead>
      <tr>
        <th scope="col">Release</th>
        <th scope="col">Account</th>
        <th scope="col">Date</th>
        <th scope="col">Destination</th>
        <th scope="col">Description</th>
        <th scope="col">Value</th>
        <th scope="col">Details</th>
        <th scope="col">Formpayment</th>
        <th align='center' scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>
          <a href="{{ object.payment_gau_detail }}">{{ object.release }}</a>
        </td>
        <td scope="row">{{ object.account }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.destination }}</td>
        <td>{{ object.description }}</td>
        <td>{{ object.value }}</td>
        <td>{{ object.details }}</td>
        <td>{{ object.formpayment }}</td>
        <a class="px-2" href="{{ object.payment_gau_edit }}">
          <i class="fa fa-edit"></i>
        </a>
        <a class="px-2" href="{{ object.payment_gau_delete }}" style="padding-left: 7px">
          <i class="fa fa-close no"></i>
        </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock dashboard %}