{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Product Category{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <h1>
    Product Categories
    <a class="btn btn-primary" href="{% url 'product:prodcat_create' %}">Add</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.details}}</td>
        <td>
          <a href="{{ object.catunit_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a href="{{ object.catunit_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% comment %} {% include "includes/pagination.html" %} {% endcomment %}
{% endblock %}