{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Delete{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <h5>Delete</h5>
  <div class="cols-6">
    <form action="." method="POST">
      <div class="col-sm-6">
        {% csrf_token %}
        <p>Are you sure you want to delete the record: <b>{{ object.name }}</b>?</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          <a class="btn btn-danger btn-sm" href="{% url 'product:prodcat_list' %}">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}