{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Unit of measurement{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <h1>
    Measurement Units
    <a class="btn btn-primary" href="{% url 'product:unitmeas_create' %}">Add</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.name }}</a></td>
        <td>{{ object.abbreviation}}</td>
        <a href="{{ object.catunit_gau_edit }}">
          <i class="fa fa-edit"></i>
        </a>
        <a href="{{ object.catunit_gau_delete }}" style="padding-left: 7px">
          <i class="fa fa-close no"></i>
        </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% comment %} {% include "includes/pagination.html" %} {% endcomment %}
{% endblock %}