<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <!-- Favicons -->
        <!-- <link href="assets/img/favicon.png" rel="icon"> -->
        <link href="../static/img/favicon.png" rel="icon">
        <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
        <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
        <!-- <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
        <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <!-- <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> -->
        <link href="../static/vendor/boxicons/css/boxicons.css" rel="stylesheet">
        <!-- <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet"> -->
        <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
        <!-- <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet"> -->
        <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
        <!-- <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet"> -->
        <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
        <!-- <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->
        <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
        <link href="../static/css/style.css" rel="stylesheet">





        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">Login/Register Base</a>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    </body>

</html>