{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Banks{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5 class="">Bank</h5>
    </div>
    <div class="col-6">
      <a class="d-flex float-end" href="{% url 'financial:bank_create' %}">
        <img src="{% static 'img/plus.png' %}" alt="" width="40" height="40">
      </a>
    </div>
  </div>

  <table class="table table-sm" id="id_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Agency</th>
        <th scope="col">Details</th>
        <th align='center' scope="col">Active</th>
        <th align='center' scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td scope="row">
          <a href="{{ object.bank_gau_detail }}">{{ object.name }}</a>
        </td>
        <td>{{ object.number }}</td>
        <td>{{ object.agency }}</td>
        <td>{{ object.details }}</td>
        {% if object.active %}
        <td><i class="fa fa-check"></i></td>
        {% else %}
        <td><i class="fa fa-close"></i></td>
        {% endif %}
        <td>
          <a class="px-2" href="{{ object.bank_gau_edit }}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="px-2" href="{{ object.bank_gau_delete }}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock %}


{% block script %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- DataTable JS -->
<script src="//cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#id_table').DataTable();
  });
</script>

{% endblock script %}