{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Bank{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bank</h5>
        <form class="form-horizontal" action="" method="POST" enctype="">
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-lg-6">
              <label for="id_name" class="col-form-label">Name</label>
              {{ form.name }}
            </div>
            <div class="col-6 col-lg-3">
              <label for="id_agency" class="col-form-label">Agency</label>
              {{ form.agency }}
            </div>
            <div class="col-6 col-lg-3">
              <label for="id_number" class="col-form-label">Number </label>
              {{ form.number }}
            </div>
          </div>
          <div class="col-12">
            <label for="id_details" class="col-form-label">Details</label>
            {{ form.details }}
          </div>
          <div class="col-12 col-lg-2">
            <legend class="col-form-label">Active</legend>
            <div class="form-check ms-1">
              <input class="form-check-input ps-0" type="checkbox" checked="" name="active" id="id_active">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-sm" value="Update">Submit</button>
              <a class="btn btn-danger btn-sm" href="{% url 'financial:bank_list' %}">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}