{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Accounts{% endblock %}

{% block dashboard %}
<main id="main" class="main">
  <div class="row align-items-center pb-2">
    <div class="col-6">
      <h5>Accounts to Bank:<a class="ps-2" href="/financial/banks/">{{ bank_name }}</a></h5>
    </div>
  </div>
  <table class="table table-sm" id="id_table">
    <caption>Accounts</caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Agency</th>
        <th scope="col">Details</th>
        <th scope="col">Active</th>
        <th scope="col">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>
          <a href="{{ object.pk }}/details">{{ object.name }}</a>
        </td>
        <td>{{ object.number }}</td>
        <td>{{ object.agency }}</td>
        <td>{{ object.details }}</td>
        {% if object.active %}
        <td class="pe-5"><i class="fa fa-check"></i></td>
        {% else %}
        <td class="pe-5"><i class="fa fa-close"></i></td>
        {% endif %}
        <td>
          <a class="px-2" href="{{ object.pk }}/update">
            <i class="fa fa-edit"></i>
          </a>
          <a class="px-2" href="{{ object.pk }}/delete" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</main>
{% endblock %}